<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    </head>
    <body>
        <div id="app">
            <ul v-for="i in arr">
                <li v-for="n in i">val: {{n}}</li>
            </ul>
        </div>
    </body>
    <script>
        let vm = new Vue({
            el: "#app",
            data: {
                arr: [
                    [1, 4, 6, 3, 2, 4, 6, 78],
                    [5, 3, 2, 54, 7, 8, 3, 0, 3, 6, 7],
                ],
            },
        });
    </script>
</html>
