<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>
    <div class="app">
        <p v-if="seen">
            {{ message }}
        </p>
    </div>

    <div class="toto">
        <ol>
            <li v-for="todo in todos">
                {{ todo.text }}
            </li>
        </ol>
    </div>
    <script>
        let app = new Vue({
            el: '.app',
            data: {
                seen: true,
                message: 'Now you see me.'
            }
        });

        let toto = new Vue({
            el: '.toto',
            data: {
                todos: [
                    {text: '学习!'},
                    {text: '学习!!'},
                    {text: '学习是不可能学习的'}
                ]
            }
        })
    </script>
</body>
</html>